[Unit]
Description=udraw

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
PrivateTmp=true
Restart=always
RestartSec=3
ExecStart=/opt/udraw/service.sh
